<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title id ='title'>Profile</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form style="margin-left: 1em" #profileForm="ngForm" (ngSubmit)="update()" [formGroup]="pfForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" name="name" required formControlName="name">
              <mat-error *ngFor="let validation of validation_messages.name">
                  <mat-error class="error-message" *ngIf="pfForm.get('name').hasError(validation.type) &&
                  (pfForm.get('name').dirty || pfForm.get('name').touched)"> {{validation.message}}
                  </mat-error>
                  </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Surname" name="surname" required formControlName="surname">
              <mat-error *ngFor="let validation of validation_messages.surname">
                <mat-error class="error-message" *ngIf="pfForm.get('surname').hasError(validation.type) &&
                (pfForm.get('surname').dirty || pfForm.get('surname').touched)"> {{validation.message}}
                </mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>

         <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Image Link" name="imgurl" required formControlName="imgurl">
              <mat-error *ngFor="let validation of validation_messages.imgurl">
                <mat-error class="error-message" *ngIf="pfForm.get('imgurl').hasError(validation.type) &&
                (pfForm.get('imgurl').dirty || pfForm.get('imgurl').touched)"> {{validation.message}}
                </mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder ="Date of Birth" onfocus="(this.type='date')" type="date" required formControlName="dob">
                <mat-error *ngFor="let validation of validation_messages.dob">
                  <mat-error class="error-message" *ngIf="pfForm.get('dob').hasError(validation.type) &&
                  (pfForm.get('dob').dirty || pfForm.get('dob').touched)"> {{validation.message}}
                  </mat-error>
                  </mat-error>
              </mat-form-field>
            </td>
          </tr>

        <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Student Id" name="stid" required formControlName="stid">
                  <mat-error *ngFor="let validation of validation_messages.stid">
                    <mat-error class="error-message" *ngIf="pfForm.get('stid').hasError(validation.type) &&
                    (pfForm.get('stid').dirty || pfForm.get('stid').touched)"> {{validation.message}}
                    </mat-error>
                    </mat-error>
                </mat-form-field>
              </td>
            </tr>
          <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" name="email" required formControlName="email">
                    <mat-error *ngFor="let validation of validation_messages.email">
                      <mat-error class="error-message" *ngIf="pfForm.get('email').hasError(validation.type) &&
                      (pfForm.get('email').dirty || pfForm.get('email').touched)"> {{validation.message}}
                    </mat-error>
                  </mat-error>
                  </mat-form-field>
                </td>
          </tr>

          <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" name="password" formControlName="password">
                  <mat-error *ngIf="pfForm.hasError('required', 'password')">
                    Please enter your password 
                  </mat-error>
                </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Confirm password" type="password" name="confirmPassword" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="pfForm.hasError('notSame')">
                    Passwords do not match
                  </mat-error> 
                </mat-form-field>
              </td>
          </tr>

      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions class="button">
    <button mat-raised-button [disabled]="!profileForm.form.valid || !profileForm.form.dirty" (click)="update()" >Update</button>
  </mat-card-actions>
</mat-card>
