<div class="basic-container">
    <mat-toolbar class="menu-bar mat-elevation-z1" color="primary">
       &nbsp; 
      <mat-nav-list *ngFor="let item of leftItems">
        <span *ngIf="item.route; then lroute else levent"></span>
        <ng-template #lroute><a mat-list-item [routerLink]="item.route" routerLinkActive="router-link-active">{{item.label}}</a></ng-template>
        <ng-template #levent><a mat-list-item (click)="item.call()">{{item.label}}</a></ng-template>
      </mat-nav-list>
      <div class="spacer"></div>
      <button mat-button *ngIf="login" [matMenuTriggerFor]="pfMenu">
        {{name}} <img *ngIf="avatar.length > 0" [src]="avatar" width=40 height=30></button>
      <mat-menu #pfMenu="matMenu" [overlapTrigger]="false">
        <span *ngFor="let item of rightItems">
        <span *ngIf="item.route; then rroute else revent"></span>
        <ng-template #rroute><button mat-menu-item [routerLink]="item.route" routerLinkActive="router-link-active">{{item.label}}</button></ng-template>
        <ng-template #revent><button mat-menu-item (click)="item.call()">{{item.label}}</button></ng-template>
        </span>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
