<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title id ='title' >Login</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form (keydown)="myEvent($event)" class="example-form" #LoginForm="ngForm" [formGroup]="loginForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username"  name="username" required formControlName="username">
              <mat-error *ngFor="let validation of validation_messages.username">
                <mat-error class="error-message" *ngIf="loginForm.get('username').hasError(validation.type) &&
                (loginForm.get('username').dirty || loginForm.get('username').touched)"> {{validation.message}}
                </mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="password" name="password" required formControlName="password">
              <!-- <mat-error *ngFor="let validation of validation_messages.password">
                <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) &&
                (loginForm.get('password').dirty || loginForm.get('password').touched)"> {{validation.message}}
                </mat-error>
                </mat-error> -->
            </mat-form-field>
            <select>
              <option value ="volvo">Admin</option>
              <option value ="saab">Student</option>
              <option value="opel">Teacher</option>
            </select>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <div *ngIf="wrongCreds" class="mat-error">Invalid credentials, try again</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="">Login</button>
  </mat-card-actions>
</mat-card>
