<form [formGroup]="filterForm">
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" name="filter"  formControlName="filter">
  </mat-form-field>
  
</form>

<table mat-table [dataSource]="actTable" matSort class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;" [routerLink]="['/liststu',row.id]"></tr>

  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>

  <ng-container matColumnDef="loc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">{{row.loc}}</td>
  </ng-container>

  <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.desc}}</td>
  </ng-container>

  <ng-container matColumnDef="regStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reg start</th>
      <td mat-cell *matCellDef="let row">{{row.regStart}}</td>
  </ng-container>

  <ng-container matColumnDef="regEnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reg end</th>
      <td mat-cell *matCellDef="let row">{{row.regEnd}}</td>
  </ng-container>

  <ng-container matColumnDef="when">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.when}}</td>
  </ng-container>

  <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{row.time}}</td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
    <td mat-cell *matCellDef="let row"><button mat-raised-button [routerLink]="['/comments',row.id]" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ __change_detection_hack__: [ id ] }"   >Comment</button></td>
</ng-container>

  <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Update</th>
      <td mat-cell *matCellDef="let row"><button mat-raised-button [routerLink]="['/editact',row.id]" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ __change_detection_hack__: [ id ] }"  >Update</button></td>
  </ng-container>

</table>
