<form [formGroup]="filterForm">
    <table><tr><td>
    <mat-form-field class="filterfield">
        <input matInput formControlName="filter" name="filter" placeholder="Filter activity name" (keyup)="updateFilter()">
    </mat-form-field>
    </td><td class="datefield">
    <mat-form-field>
        <input matInput formControlName="minDate" name="minDate" placeholder="Filter date min" type="date" (change)="updateFilter()">
    </mat-form-field>
    </td><td class="datefield">
    <mat-form-field>
        <input matInput formControlName="maxDate" name="maxDate" placeholder="Filter date max" type="date" (change)="updateFilter()">
    </mat-form-field>
    </td><td>&nbsp;
    </td></tr></table>
</form>

<table mat-table [dataSource]="actTable" matSort class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="loc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let row">{{row.loc}}</td>
    </ng-container>

    <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">{{row.desc}}</td>
    </ng-container>

    <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>comments</th>
        <td mat-cell *matCellDef="let row"><button mat-raised-button (click)="(row.id)"  >comment</button></td>
    </ng-container>

    <ng-container matColumnDef="regEnd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reg end</th>
        <td mat-cell *matCellDef="let row">{{row.regEnd}}</td>
    </ng-container>

    <ng-container matColumnDef="when">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">{{row.when}}</td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let row">{{row.time}}</td>
    </ng-container>

    <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
        <td mat-cell *matCellDef="let row">{{row.teacher}}</td>
    </ng-container>

    <ng-container matColumnDef="regStart">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reg start</th>
        <td mat-cell *matCellDef="let row">{{row.regStart}}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
        <td mat-cell *matCellDef="let row"><button mat-raised-button [routerLink]="['/comments',row.id]" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ __change_detection_hack__: [ id ] }" >Leave a Comment</button></td>
    </ng-container>

    <ng-container matColumnDef="enrol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Register</th>
        <td mat-cell *matCellDef="let row"><button mat-raised-button (click)="enrol(row.id)" [disabled]="row.disabled">Add</button></td>
    </ng-container>

</table>
