<div class="center">
<mat-card>
    <mat-card-header>
        <mat-card-title>Update Activity</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="updAct()">
            <mat-form-field>
                <input matInput formControlName="name" name="name" placeholder="Activity name">
                <mat-error *ngFor="let err of errs.name">
                    <mat-error *ngIf="name.touched && name.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="desc" name="desc" placeholder="Description">
                <mat-error *ngFor="let err of errs.desc">
                    <mat-error *ngIf="desc.touched && desc.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="loc" name="loc" placeholder="Location">
                <mat-error *ngFor="let err of errs.loc">
                    <mat-error *ngIf="loc.touched && loc.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="when" name="when" placeholder="Date of activity" type="date">
                <mat-error *ngFor="let err of errs.when">
                    <mat-error *ngIf="when.touched && when.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="time" name="time" placeholder="Time of activity" [ngxTimepicker]="picker" format="24">
                <ngx-material-timepicker #picker></ngx-material-timepicker>
                <mat-error *ngFor="let err of errs.time">
                    <mat-error *ngIf="time.touched && time.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="teacher" name="teacher" placeholder="Select teacher">
                    <mat-option *ngFor="let t of teachers" [value]="t.id">{{t.name}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let err of errs.teacher">
                    <mat-error *ngIf="teacher.touched && teacher.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="regStart" name="regStart" placeholder="Start of registration" type="date">
                <mat-error *ngFor="let err of errs.regStart">
                    <mat-error *ngIf="regStart.touched && regStart.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="regEnd" name="regEnd" placeholder="End of registration" type="date">
                <mat-error *ngFor="let err of errs.regEnd">
                    <mat-error *ngIf="regEnd.touched && regEnd.hasError(err.type)">{{err.msg}}</mat-error>
                </mat-error>
            </mat-form-field>
        </form>
        <mat-card-actions>
            <button mat-raised-button (click)="updAct()" [disabled]="!form.valid" >Save</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
</div>
